streamlit
openai
langchain
langchain-openai
langchain-community
langchain-core
langgraph
langgraph-prebuilt
chromadb
pysqlite3-binary
audio-recorder-streamlit
streamlit-float
streamlit-chat
python-dotenv
chardet
icalendar
tiktoken